
.btn--primary
{
    background-color: rgb(156, 119, 243);
    color:whitesmoke;
    border:1px solide white;
    border-radius: 10px;

}
.btn--outline
{
    background-color: royalblue;
    color:rgb(238, 216, 216);
    padding:8px 20px;
    
    transition: all 0.3s ease-out; 

}
.btn--medium
{
    padding:8px 20px;
    font-size:20px;
}
.btn--large
{
    padding:12px 26px;
    font-size: 20px;
}
.btn--medium:hover, .btn--large:hover{
    background-color:thistle;
    color:rgb(0, 0, 0);
    transition: all 0.3s ease-out; 
}