.btn
{
    padding:8px 20px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
.btn--primary
{
    background-color: greenyellow;
    color: black;
    border:1px solide white;

}
.btn--outline
{
    background-color: royalblue;
    color:rgb(238, 216, 216);
    padding:8px 20px;
    
    transition: all 0.3s ease-out; 

}
.btn--medium
{
    padding:8px 20px;
    font-size:20px;
}
.btn--large
{
    padding:12px 26px;
    font-size: 20px;
}
.btn--medium:hover, .btn--large:hover{
    background-color: white;
    color:rgb(131, 28, 45);
    transition: all 0.3s ease-out; 
}