.navbar
{
    background:linear-gradient(90deg, rgb(129, 84, 180),rgb(141, 7, 74), rgb(109, 54, 172));
    height: 80px;
    display: flex;
    justify-content: center;
    top:0;
    z-index: 999;
    position: sticky;
   
}
.navbar-container
{display: flex;
justify-self: center;
align-items: center;
height: 80px;
max-width: 1500px;
width:100%;
}
.navbar-logo
{
    color:white;
    text-decoration: none;
  cursor:pointer;
  justify-self: start;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.nav-menu
{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width:60vw;
    justify-content: end;
    margin-right: 2rem;
}
  .nav-item
  {cursor: pointer;
      
      margin:10px;
  }
  .nav-links
  {display: flex;
      align-items: center;
      text-decoration: none;
      color:white;
  }
  .nav-item:hover{
      border-bottom: 4px solid white;
      transition: all 0.2s ease-out;
  }
  .fa-bars
  {
      color:white;
  }
  
  .menu-logo
  {
      display: none;
  }
  .btn
{
    
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
  @media screen and (max-width:960px) {
      .nav-menu{
          display: flex;
          flex-direction: column;
          width: 100%;
          position: absolute;
          left:-100%;
          height: 90vh;
          transition: all 0.5s ease;
      }
      .nav-menu.active
      {
          background-color: rgb(180, 75, 98);
          top:40px;
          left:0;
          transition: all 0.5s ;
      }
      .nav-item {
        text-align: center;
        padding: 30px;
        width: 100%;
        display: table;
      }

  .menu-logo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  

      
 
}